body {
  font-size: 18px;
}

.grid {
}

.row.header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.row {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
  margin-bottom: 0.25rem;
}
