body {
  font-size: 18px;
  margin: 8px;
}

.grid {
  margin-top: 32px;
}

.row.header {
  font-weight: bold;
  margin-bottom: 1rem;
}

.row {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
  margin-bottom: 0.5rem;
}
